h1{
    text-align: center;
    color: #275950!important;
    margin-bottom: 20px;
    margin-top: 20px!important;
}
body{
    background-color: #64CCC9!important;
}
.submit{
    margin-top: 20px;
    text-align: end;
}
.submit button{
    display: inline-block!important;
    background-color: #275950 !important;
    font-weight: bold !important;
    padding: 10px !important;
}

.logar{
    margin-top: 40px;
    max-width: 800px;
    background-color: #9BF2EA;
    padding: 20px;
    border-radius: 10px;
}

.header{
    margin-top: -50px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    color: white !important;
    text-align: center;
}
.h1{
    color: white !important;
    background-color: #275950;
    display: inline-block !important;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

.mudarSenha{
    color: darkslateblue !important;
}
